/* Configuração do corpo */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

/* Configuração do contêiner de fundo */
.convite-container {
    height: 100vh;
    background: url('convitebackground-event.png') no-repeat center center;
    background-size: cover; /* Ajusta automaticamente para cobrir o espaço */
    background-position: center; /* Centraliza a imagem */
    background-attachment: fixed; /* Mantém a imagem fixa ao rolar (opcional) */
}
